{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
        <nav>
        <a href="/about">About</a>
        <a href="/index">Index</a>
        <a href="/">Home</a>
        <a href="/students">Students</a>
    </nav>
    <h1>This is Index Page</h1>
    <form method="POST">
        {%csrf_token%}
        <label>Username</label>
        <input type="text" required name="username" ><br>
        <label>Password</label>
        <input type="password" required name="password"><br>
        <button type="submit">Submit</button>

    </form>
    {%if error%}
    <p>{{error}}</p>
    {%endif%}
    
</body>
</html>