<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>This is Student Update Page</h1>
    <form method="POST">
        {%csrf_token%}
        <label>Name</label>
        <input type="text" required name="name" value="{{student.Name}}">
        <label>Age</label>
        <input type="number" required name="age" value="{{student.Age}}">
        <label>Course</label>
        <input type="course" required name="course" value="{{student.Course}}">
        <button type="submit">Submit</button>
    </form>

    
    
</body>
</html>