<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/index/">Index</a>
    <a href="/about/">About</a>
    <a href="/table/">Table</a>
    <a href="/student/">Students</a>
    <a href="/course/">Courses</a>
</nav>

<h1>Login</h1>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST">
 {% csrf_token %}
 <label>Username</label>
<input type="text" name="username" required >
<br><br>
<label>Password</label>
<input type="password" name="password" required>
<br><br>
<button type="submit">Login</button>
</form>
</body>
</html>