<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <nav>
        <a href="/index">Index</a>
        <a href="/about">About</a>
        <a href="/">Home</a>
        <a href="/student">Student</a>

    </nav>
    <h1>This is Student Page</h1>
    <form method="POST">
        {%csrf_token%}
        <label>Name</label>
        <input type="text" required name="name">
        <label>Age</label>
        <input type="number" required name="age">
        <label>Course</label>
        <input type="text" required name="course">
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            {% for i in student %}
            
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.course}}</td>
                <td><a href="/student/update/{{ i.id }}">Edit</a>
                    <a href="/student/delete/{{i.id}}"
                    onclick="return confirm('are you sure you want to delete this student ')">Delete</a>
                
            </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>