{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
      <nav>
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/index">INDEX</a>
    </nav>
    <h1>This is index file Am the best</h1>
    <form method="POST">
        {% csrf_token %}
        <label>USERNAME</label>
        <input type="text" required name='username'><br><br>
        <label>PASSWORD</label>
        <input type="password" required name='password'><br><br>
        <button type="submit">SUBMIT</button>
    </form>
    {% if error %}
    <p>{{error}}</p>
    {%endif%}
</body>
</html>